.bg{
    background: #111827;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #111827, #1c1848, #111827);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #111827, #1c1848, #111827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}