body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#6B60F1 ;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
  }
body{
    overflow: overlay;
}
.back1{
    background: #111827;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #111827, #1c1848, #111827);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #111827, #1c1848, #111827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}