body::-webkit-scrollbar-track
{
	border: 1px solid rgb(16, 1, 59);
	background-color: #232323;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #11003f;
}

body::-webkit-scrollbar-thumb
{
	background-color: #9f9f9fb3;	
}

body{
    overflow: overlay;
}
.back1{
    background: #111827;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #111827, #1c1848, #111827);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #111827, #1c1848, #111827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}