.text{
    color: var(--primary-color);
}
.glass{
    background: linear-gradient(135deg,rgba(2555,255,255,0.01),rgba(255,255,255,0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    
}
/* .navbg{

} */